// ===================================
// Variables
// ===================================

// Colors
$color-white: #fff;

$color-primary: #7377bf; //light purple
$color-secondary: #4d4c72; //dark purple
$color-green: #81c98f; //green
$color-blue: #74b1bf; //blue
$color-dark-grey: #b2b2b2; //dark grey
$color-bg-grey: #fbfbfb; //light grey

// Breakpoints
$med: 768px;
$lg: 1024px;

// Fonts 
$font-stack-primary: 'Lato', sans-serif;