@include mq($med) {
    .widget-container-full {
        width: 86vw;
    }
    .widget-container-half {
        width: 40vw;
    }
}

@include mq($lg) {
    .widget-container-full {
        width: 90vw;
    }
}