* {
    font-family: $font-stack-primary;
}

a {
    text-decoration: none;
    color: white;
}

.container {
    color: white;
}

.dashboard {
    color: $color-dark-grey;
}

.alert-banner {
    color: $color-white;
}